@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --light-color: #fff;
    --main-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
    --main-font-weight: 400;
}
body {
  font-family: "lato";
  margin: 0;
  background: var(--light-color);
  height: auto;
}


h1 {
  font-weight: var(--main-font-weight);
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: var(--main-font-weight);
  font-size: 1.2rem;
  margin: 0;
}


img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: var(--main-box-shadow);
}

#hero {
  background: var(--light-color);
}

#hero-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#hero-text h2 {
  color: #888;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
  }
  
  .btn:hover {
    background: #f4f4f4;
  }

#hero-image {
  background: url(https://www.watotocoding.com/media/costanzaprofile.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}
  
  .project {
    padding: 0.8rem;
    text-align: center;
    background-color:var(--light-color) ;
    box-shadow: var(--main-box-shadow);
    
  }

 .project a{
    font-size: 1.5em;
 } 

 .project p{
    font-size: 1.2em;
 }

 #projects img{
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    box-shadow: var(--main-box-shadow);
 }
  footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
  }
  
  footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  
  
  
  

  